
.accesorios{
   display: flex;
   flex-direction: column;
   gap: 20px;
}
.accesorio img:hover{
   
   box-shadow: blue 0 0 15px;

}
.accesorio{
   padding: 15px;

}
.accesorio img{
   border-radius: 15px;
   height: 300px;
   width: 300px;
}
.accesorio__boton{
   border-radius: 15px;
   padding: 0 10px;
   background-color: blue;
   color: $color-primario;

}
.imagen-accesorios h1{
   padding: 15px;
   font-size: xx-large;
}