.iconos i:nth-child(1) {
    color: rgba(0, 128, 0, 0.771);
    
}

.iconos i:nth-child(2) {
    color: rgba(0, 0, 255, 0.786);
    

}
.iconos i:nth-child(3) {
    color: rgba(155, 43, 15, 0.786);
    

}
.body-venta{
    overflow-x: hidden;
    
}

footer {
    background-color: $color-primario;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px 0;

.iconos {
    display: flex;
    justify-content: center;
    gap: 20px;
    font-size: 3rem;
}
}

@media screen and (max-width:768px){
    footer p{
        width: 200px;
        font-size: 0.8rem;
        text-align: center;

    }
    .iconos i{ 
       
        font-size: 30px;
    }
   
}


