.registrarse{
    color: white;
    font-size: 1.5rem;
    height: 95vh;
    background-image: url(../imagen/registrarse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 99vw;
    
    
}
.regis-inicio{
    background-color: white;
    color: black;
    font-size: 1.5rem ;
}
.body-registro{
    overflow-x: hidden;
    
}